/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
     * Remove the outline on focused links when they are also active or hovered
     * in all browsers (opinionated).
     */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Change the border, margin, and padding in all browsers (opinionated).
     */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none; }

html {
  box-sizing: border-box;
  font-size: 100%; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: "Titillium Web", Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5625;
  color: #0a0a0a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic; }

  button {
    padding: 0;
    appearance: none;
    border: 0;
    border-radius: 3px;
    background: transparent;
    line-height: 1;
    cursor: auto; }
    [data-whatinput='mouse'] button {
      outline: 0; } 
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; }

.button {
  box-sizing: border-box;
  display: inline-block;
  height: 56px;
  border: 0;
  min-width: 246px;
  box-shadow: none;
  border-radius: 27px;
  padding: 12px 20px 12px;
  box-shadow: 0 7px 9px rgba(100, 115, 151, 0.15);
  margin: 0;
  position: relative;
  background-image: linear-gradient(to right, #646c92, #5f2e69);
  transition: all 0.25s;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  color: #fefefe;
  white-space: nowrap;
  line-height: 1;
  vertical-align: middle; }
  .button__content {
    position: relative; }
  .button:active {
    background-color: #267300;
    color: #fefefe;
    text-decoration: none;
    transition: all 0.25s; }
  .button:before {
    width: 100%;
    height: 100%;
    border-radius: 27px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.25s;
    background-image: linear-gradient(to right, #5f2e69, #5f2e69);
    content: ''; }
  .button:disabled {
    opacity: 0.5; }
  .button img {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top; }
  .button_type_blue {
    min-width: inherit;
    padding: 12px 44px 12px;
    box-shadow: 0 7px 9px rgba(26, 230, 218, 0.15);
    background-image: linear-gradient(to right, #35bbe0, #5e7bea); }
    .button_type_blue:before {
      background-image: linear-gradient(to right, #5e7bea, #5e7bea); }
  .button_type_rounded {
    min-width: inherit;
    width: 46px;
    height: 46px;
    border-radius: 100%;
    padding: 0;
    background: rgba(95, 41, 102, 0.8); }
    .button_type_rounded:hover {
      background-color: #5f2966;
      transition: background-color 0.25s; }
    .button_type_rounded:before {
      display: none; }
  .button_type_border {
    margin-top: 25px;
    height: 62px;
    border-radius: 31px;
    padding: 20px 30px;
    border: 1px solid #bfbfbf;
    box-shadow: none;
    min-width: inherit;
    width: 100%;
    background: #fefefe;
    color: #676767;
    font-size: 16px;
    font-weight: 400;
    line-height: 1; }
    .button_type_border:before {
      display: none; }
    @media print, screen and (min-width: 48em) {
      .button_type_border {
        width: auto; } }
    @media print, screen and (min-width: 62.5em) {
      .button_type_border {
        width: auto;
        position: relative;
        right: -45px;
        transform: translateX(50%);
        z-index: 1;
        transition: all 0.25s; }
        .button_type_border:hover {
          border-color: #bfbfbf;
          background: #bfbfbf;
          color: #fff;
          transition: all 0.25s; } }
  .button_type_small {
    height: 40px;
    min-width: inherit;
    padding: 10px 22px 14px;
    background-image: linear-gradient(to right, #593082, #6271c7);
    font-size: 16px;
    font-weight: 700; }
    .button_type_small:before {
      background-image: linear-gradient(to right, #593082, #593082); }
  .button_type_apple {
    margin-left: 25px;
    background: #7c5180 url(../svg/apple.svg) no-repeat 14px 12px; }
  .button_type_google {
    margin-left: 20px;
    background: #7c5180 url(../svg/google.svg) no-repeat 15px center; }
  @media print, screen and (min-width: 62.5em) {
    .button:hover {
      text-decoration: none; }
      .button:hover:before {
        opacity: 1;
        z-index: 0;
        transition: opacity 0.25s; }
    .button_type_red:hover {
      border-color: #D50000;
      background-color: #D50000; } }

@font-face {
  font-family: 'MalagaOT-RegItalic';
  src: url("../fonts/regular/MalagaOT-RegItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/regular/MalagaOT-RegItalic.otf") format("opentype"), url("../fonts/regular/MalagaOT-RegItalic.woff") format("woff"), url("../fonts/regular/MalagaOT-RegItalic.ttf") format("truetype"), url("../fonts/regular/MalagaOT-RegItalic.svg#MalagaOT-RegItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

*, *::after, *::before {
  box-sizing: border-box; }

html, body {
  min-height: 100%;
  height: 100%; }

body {
  min-width: 360px;
  height: auto;
  background: url(../img/promo/bckg-medium.jpg) no-repeat center 130px;
  font-size: 16px; }
  body.is-overflowed {
    overflow: hidden; }
  @media print, screen and (min-width: 48em) {
    body {
      background-position: center 70px; } }
  @media print, screen and (min-width: 62.5em) {
    body {
      background: url(../img/promo/bckg.jpg) no-repeat center top; } }

a {
  display: inline;
  border-bottom: 1px solid transparent;
  color: #4296EA;
  transition: all 0.25s;
  line-height: 1;
  cursor: pointer;
  text-decoration: none; }
  a:focus {
    border-color: #4296EA;
    color: #4296EA; }
  a:active {
    border-color: rgba(66, 150, 234, 0.5);
    color: #4296EA;
    transition: color 0.25s; }
  @media print, screen and (min-width: 62.5em) {
    a:hover {
      border-color: rgba(66, 150, 234, 0.5);
      color: #4296EA;
      transition: all 0.25s;
      text-decoration: none; } }

.container {
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto; }
  @media print, screen and (min-width: 48em) {
    .container {
      padding: 0 30px; } }
  @media screen and (min-width: 91.25em) {
    .container {
      max-width: 1400px;
      padding: 0; } }

.container-small {
  margin: 0 auto;
  max-width: 1000px; }

.bottom {
  margin-top: 20px;
  position: relative; }
  .bottom:before {
    width: 200%;
    height: 500px;
    position: absolute;
    top: 0;
    right: -74%;
    transform: rotate(-6.5deg);
    background-image: linear-gradient(to bottom, #eee 0, rgba(255, 255, 255, 0) 100%);
    content: ''; }
    @media print, screen and (min-width: 62.5em) {
      .bottom:before {
        height: 800px;
        right: -74%;
        transform: rotate(-6.5deg);
        top: 0; } }
  @media print, screen and (min-width: 62.5em) {
    .bottom {
      margin-top: 0; } }

.wrapper {
  overflow: hidden; }

.footer {
  margin-top: 55px;
  padding-bottom: 30px;
  color: #5c5c5c; }
  .footer__copyright {
    margin-top: 14px;
    color: #5c5c5c;
    font-size: 12px; }
  @media print, screen and (min-width: 48em) {
    .footer__row {
      display: flex;
      justify-content: space-between;
      align-items: flex-start; } }
  @media print, screen and (min-width: 62.5em) {
    .footer__row {
      padding: 0 0 54px 0; } }
  @media screen and (min-width: 91.25em) {
    .footer__row {
      padding: 0 200px 54px 0; } }
  .footer__info {
    position: relative;
    font-size: 14px;
    line-height: 1.1; }
    .footer__info a {
      display: inline;
      border-bottom: 1px solid transparent;
      color: #5c5c5c;
      transition: all 0.25s;
      line-height: 1;
      cursor: pointer;
      display: inline-block;
      font-weight: 700; }
      .footer__info a:focus {
        border-color: #5c5c5c;
        color: #5c5c5c; }
      .footer__info a:active {
        border-color: rgba(92, 92, 92, 0.5);
        color: #5c5c5c;
        transition: color 0.25s; }
      @media print, screen and (min-width: 62.5em) {
        .footer__info a:hover {
          border-color: rgba(92, 92, 92, 0.5);
          color: #5c5c5c;
          transition: all 0.25s;
          text-decoration: none; } }
    .footer__info span {
      display: block;
      margin-top: 7px; }
      .footer__info span:first-child {
        margin-top: 0; }
    @media print, screen and (min-width: 48em) {
      .footer__info {
        margin-top: 5px; } }
    @media print, screen and (min-width: 62.5em) {
      .footer__info {
        margin-top: 2px; } }
    @media screen and (min-width: 91.25em) {
      .footer__info {
        padding-left: 20px; }
        .footer__info:before {
          width: 1px;
          position: absolute;
          top: 3px;
          bottom: -4px;
          left: 0;
          background: #b9b9b9;
          content: ''; } }
  .footer__support {
    margin-top: 30px; }
    .footer__support a {
      display: inline-block;
      border-bottom: 1px solid rgba(92, 92, 92, 0.5);
      color: #5c5c5c;
      transition: all 0.25s;
      line-height: 1;
      cursor: pointer; }
      .footer__support a:focus {
        border-color: #5c5c5c;
        color: #5c5c5c; }
      .footer__support a:active {
        border-color: transparent;
        color: #5c5c5c;
        transition: color 0.25s; }
      @media print, screen and (min-width: 62.5em) {
        .footer__support a:hover {
          border-color: transparent;
          color: #5c5c5c;
          transition: all 0.25s;
          text-decoration: none; } }

.header {
  padding: 20px 0 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  font-size: 15px; }
  @media print, screen and (min-width: 62.5em) {
    .header {
      padding: 77px 0 19px; } }
  @media print, screen and (min-width: 62.5em) {
    .header__logo {
      margin-top: 7px; } }
  .header__menu {
    display: block; }
    @media print, screen and (min-width: 62.5em) {
      .header__menu {
        display: none; } }
  .header__buttons {
    display: inline-block;
    margin-top: 30px; }
    @media print, screen and (min-width: 62.5em) {
      .header__buttons {
        margin-top: 0; } }
  .header__close {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 30px;
    right: 20px; }
    @media print, screen and (min-width: 62.5em) {
      .header__close {
        display: none; } }
  .header__login {
    border: 0;
    margin-right: 21px;
    padding-left: 23px;
    position: relative; }
    .header__login span {
      display: inline;
      border-bottom: 1px solid transparent;
      color: #454545;
      transition: all 0.25s;
      line-height: 1;
      cursor: pointer;
      display: inline-block;
      font-weight: 700;
      line-height: 1; }
      .header__login span:focus {
        border-color: #454545;
        color: #454545; }
      .header__login span:active {
        border-color: rgba(69, 69, 69, 0.5);
        color: #454545;
        transition: color 0.25s; }
      @media print, screen and (min-width: 62.5em) {
        .header__login span:hover {
          border-color: rgba(69, 69, 69, 0.5);
          color: #454545;
          transition: all 0.25s;
          text-decoration: none; } }
    .header__login:before {
      width: 15px;
      height: 12px;
      position: absolute;
      top: 6px;
      left: 0;
      background: url(../svg/login.svg) no-repeat;
      content: ''; }
  .header__column_type_dropdown {
    display: none;
    width: 100%;
    height: 100%;
    padding: 60px 40px;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff; }
    @media print, screen and (min-width: 62.5em) {
      .header__column_type_dropdown {
        display: block;
        width: auto;
        height: auto;
        padding: 0;
        position: static; } }

.menu-bottom {
  display: flex;
  flex-wrap: wrap; }
  @media print, screen and (min-width: 62.5em) {
    .menu-bottom {
      flex-wrap: nowrap; } }
  .menu-bottom__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.28; }
    @media print, screen and (min-width: 48em) {
      .menu-bottom__title {
        font-size: 16px; } }
    @media print, screen and (min-width: 62.5em) {
      .menu-bottom__title {
        font-size: 18px; } }
  .menu-bottom__list {
    padding: 0;
    margin: 23px 0 0;
    list-style: none; }
    .menu-bottom__list li {
      margin-top: 2px;
      padding-left: 12px;
      position: relative;
      font-size: 14px; }
      .menu-bottom__list li:first-child {
        margin-top: 0; }
      .menu-bottom__list li a {
        display: inline;
        border-bottom: 1px solid transparent;
        color: #5c5c5c;
        transition: all 0.25s;
        line-height: 1;
        cursor: pointer;
        display: inline-block;
        line-height: 1.1; }
        .menu-bottom__list li a:focus {
          border-color: #5c5c5c;
          color: #5c5c5c; }
        .menu-bottom__list li a:active {
          border-color: rgba(92, 92, 92, 0.5);
          color: #5c5c5c;
          transition: color 0.25s; }
        @media print, screen and (min-width: 62.5em) {
          .menu-bottom__list li a:hover {
            border-color: rgba(92, 92, 92, 0.5);
            color: #5c5c5c;
            transition: all 0.25s;
            text-decoration: none; } }
      .menu-bottom__list li:after {
        width: 4px;
        height: 4px;
        border-radius: 4px;
        position: absolute;
        top: 10px;
        left: 0;
        background: #5c5c5c;
        content: ''; }
      @media print, screen and (min-width: 62.5em) {
        .menu-bottom__list li {
          padding-right: 12px; }
          .menu-bottom__list li:after {
            left: auto;
            right: 0; } }
  .menu-bottom__column {
    width: 50%;
    margin-top: 30px; }
    @media print, screen and (min-width: 48em) {
      .menu-bottom__column {
        width: 33.333%;
        min-width: 150px;
        margin-top: 0; } }
    @media print, screen and (min-width: 62.5em) {
      .menu-bottom__column {
        width: 33.333%;
        min-width: 225px;
        padding-right: 28px;
        margin-top: 0;
        text-align: right; }
        .menu-bottom__column:first-child {
          padding-right: 31px; }
        .menu-bottom__column:nth-child(2) {
          padding-right: 5px; } }
    @media screen and (min-width: 91.25em) {
      .menu-bottom__column:first-child {
        position: relative; }
        .menu-bottom__column:first-child:before {
          width: 1px;
          height: 500px;
          position: absolute;
          top: -3px;
          right: 3px;
          background: #b9b9b9;
          content: ''; } }

.promo {
  padding: 70px 0 50px;
  max-width: 400px;
  margin: 0 auto;
  text-align: center; }
  @media print, screen and (min-width: 62.5em) {
    .promo {
      padding: 136px 0 230px;
      min-height: 600px;
      max-width: none; } }
  .promo__title {
    display: block;
    margin: 0;
    color: #454545;
    font-size: 40px;
    line-height: 1.2; }
    @media print, screen and (min-width: 62.5em) {
      .promo__title {
        font-size: 60px; } }
  .promo__subtitle {
    display: block;
    margin-top: 15px;
    color: #464646;
    font-size: 27px;
    line-height: 1; }
    .promo__subtitle span {
      color: #fc2028; }
    @media print, screen and (min-width: 62.5em) {
      .promo__subtitle {
        margin-top: 11px;
        font-size: 36px; } }
  .promo__buttons {
    margin-top: 30px;
    position: relative;
    font-size: 0; }
    .promo__buttons .button {
      position: relative; }
    .promo__buttons .button_type_rounded {
      margin-left: 0;
      margin-top: 15px; }
      .promo__buttons .button_type_rounded:last-child {
        margin-left: 20px; }
      @media print, screen and (min-width: 48em) {
        .promo__buttons .button_type_rounded {
          margin-top: 0;
          margin-left: 25px; } }
    .promo__buttons .button:not(.button_type_rounded) {
      width: 100%; }
      @media print, screen and (min-width: 48em) {
        .promo__buttons .button:not(.button_type_rounded) {
          width: auto; } }
    @media print, screen and (min-width: 48em) {
      .promo__buttons:before {
        width: 600px;
        height: 57px;
        background: url(../img/promo/buttons.png) no-repeat;
        position: absolute;
        top: 22px;
        left: 50%;
        transform: translateX(-50%);
        content: ''; } }
    @media print, screen and (min-width: 62.5em) {
      .promo__buttons {
        margin-top: 76px; } }

.features {
  padding-top: 60px; }
  @media print, screen and (min-width: 62.5em) {
    .features {
      padding-top: 127px; } }
  @media screen and (min-width: 91.25em) {
    .features {
      padding-left: 122px; } }
  .features__list {
    display: flex;
    flex-wrap: wrap; }
    @media print, screen and (min-width: 48em) {
      .features__list {
        margin: 0 -20px; } }
    @media print, screen and (min-width: 62.5em) {
      .features__list {
        margin: 0 -45px; } }
  .features__item {
    width: 100%;
    margin-top: 30px; }
    .features__item:first-child {
      margin-top: 0; }
    @media print, screen and (min-width: 48em) {
      .features__item {
        width: 33.333%;
        padding: 0 20px;
        margin-top: 0; } }
    @media print, screen and (min-width: 62.5em) {
      .features__item {
        width: calc(33.333% - 20px);
        padding: 0 45px; }
        .features__item:first-child {
          padding-right: 30px; }
        .features__item:nth-child(2) {
          position: relative; }
          .features__item:nth-child(2):before {
            width: 1px;
            height: 210px;
            position: absolute;
            bottom: calc(100% - 84px);
            left: 0;
            background: #b9b9b9;
            content: ''; }
        .features__item:nth-child(3) {
          width: calc(33.333% + 20px);
          position: relative; }
          .features__item:nth-child(3):before {
            width: 50vw;
            height: 1px;
            position: absolute;
            left: 100%;
            top: 0;
            background: #b9b9b9;
            content: ''; } }
  .features__head {
    padding-left: 60px;
    position: relative; }
    .features__head:before {
      width: 40px;
      height: 50px;
      position: absolute;
      top: 0;
      left: 0;
      background: url(../svg/features/features.svg) no-repeat;
      content: ''; }
      .features__item:nth-child(2) .features__head:before {
        width: 50px;
        background-position: -41px 0; }
      .features__item:nth-child(3) .features__head:before {
        width: 50px;
        background-position: -91px 0; }
    @media print, screen and (min-width: 48em) {
      .features__head {
        min-height: 90px; } }
    @media screen and (min-width: 75em) {
      .features__head {
        min-height: inherit; } }
  .features__description {
    margin: 20px 0 0;
    color: #959393;
    font-size: 14px;
    line-height: 1.58; }
    @media print, screen and (min-width: 48em) {
      .features__description {
        margin: 28px 0 0; } }
  .features__main {
    width: 100%;
    margin-top: 30px;
    position: relative; }
    @media print, screen and (min-width: 48em) {
      .features__main {
        padding: 0 20px; } }
    @media print, screen and (min-width: 62.5em) {
      .features__main {
        display: flex;
        width: calc(66.666% - 40px);
        padding: 0 45px;
        margin-top: 120px;
        justify-content: flex-end;
        text-align: right; }
        .features__main:before {
          width: 1px;
          height: 496px;
          position: absolute;
          bottom: 0;
          right: 0;
          background: #b9b9b9;
          content: ''; }
        .features__main:after {
          height: 1px;
          width: 100vw;
          position: absolute;
          bottom: 31px;
          right: 0;
          background: #b9b9b9;
          content: ''; } }
  .features__title {
    display: block;
    color: #555555;
    font-size: 30px;
    line-height: 1.1; }
    .features__main .features__title {
      font-size: 45px;
      line-height: 1; }
      @media print, screen and (min-width: 62.5em) {
        .features__main .features__title {
          font-size: 60px;
          line-height: 1; } }
  .features__subtitle {
    display: block;
    color: #959393;
    font-size: 18px;
    line-height: 1.2; }
  .features__holder {
    max-width: 640px; }
  .features__about {
    margin: 15px 0 0;
    color: #959393;
    font-size: 20px;
    line-height: 1.2; }
    .features__about span {
      color: #f65151; }
    @media print, screen and (min-width: 62.5em) {
      .features__about {
        margin: 17px 0 0;
        font-size: 24px;
        line-height: 0.92; } }

@media print, screen and (min-width: 62.5em) {
  .menu {
    display: inline-block;
    margin-right: 46px; } }

.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0; }
  .menu__list li {
    display: block;
    font-size: 23px; }
    @media print, screen and (min-width: 62.5em) {
      .menu__list li {
        display: inline-block;
        margin-right: 26px;
        font-size: 16px; } }
    .menu__list li a {
      display: inline;
      border-bottom: 1px solid transparent;
      color: #454545;
      transition: all 0.25s;
      line-height: 1;
      cursor: pointer;
      display: inline-block;
      line-height: 1.1; }
      .menu__list li a:focus {
        border-color: #454545;
        color: #454545; }
      .menu__list li a:active {
        border-color: rgba(69, 69, 69, 0.5);
        color: #454545;
        transition: color 0.25s; }
      @media print, screen and (min-width: 62.5em) {
        .menu__list li a:hover {
          border-color: rgba(69, 69, 69, 0.5);
          color: #454545;
          transition: all 0.25s;
          text-decoration: none; } }

.about {
  padding-top: 80px;
  position: relative; }
  @media print, screen and (min-width: 48em) {
    .about {
      padding-top: 116px; } }
  .about__content {
    position: relative; }
    @media print, screen and (min-width: 48em) {
      .about__content {
        display: flex;
        width: 66.666%;
        padding-right: 27px;
        justify-content: flex-end;
        text-align: right; } }
  .about__holder {
    max-width: 440px; }
  .about__image {
    width: 580px;
    height: 670px;
    position: absolute;
    top: -290px;
    right: -398px;
    z-index: 1; }
    @media print, screen and (min-width: 48em) {
      .about__image {
        top: -360px; } }
    @media print, screen and (min-width: 62.5em) {
      .about__image {
        top: -285px; } }
  .about__title {
    display: block;
    color: #535353;
    font-size: 31px;
    line-height: 1; }
    @media print, screen and (min-width: 62.5em) {
      .about__title {
        font-size: 36px;
        line-height: 1; } }
  .about__subtitle {
    display: block;
    margin-top: 10px;
    color: #7c7c7c;
    font-size: 21px;
    line-height: 1.2; }
    @media print, screen and (min-width: 62.5em) {
      .about__subtitle {
        margin-top: 3px;
        font-size: 29px;
        line-height: 1.2; } }
  .about__privacy {
    padding: 60px 0 30px;
    max-width: 1000px;
    margin: 0;
    text-align: left; }
    @media print, screen and (min-width: 48em) {
      .about__privacy {
        padding: 75px 0 50px;
        text-align: center; } }
    @media print, screen and (min-width: 62.5em) {
      .about__privacy {
        margin: 162px auto 0;
        padding: 75px 0 83px;
        text-align: center; } }
    @media screen and (min-width: 91.25em) {
      .about__privacy {
        position: relative; }
        .about__privacy:after {
          height: 1px;
          width: 1500px;
          position: absolute;
          top: 0;
          left: 0;
          background: #b9b9b9;
          content: ''; } }
  .about__description {
    margin: 17px 0 0;
    color: #959393;
    font-size: 16px;
    line-height: 1.375; }
  .about__buttons {
    font-size: 0; }
    .about__buttons_type_store {
      margin-top: 30px;
      position: relative;
      z-index: 2; }
      .about__buttons_type_store a {
        display: inline-block;
        width: 100%;
        max-width: 320px;
        margin-right: 13px;
        border-radius: 5px;
        border: 0;
        background: #000;
        vertical-align: middle;
        text-align: center; }
        .about__buttons_type_store a:last-child {
          margin-top: 15px;
          margin-right: 0; }
        .about__buttons_type_store a:hover {
          opacity: 0.8; }
        @media print, screen and (min-width: 48em) {
          .about__buttons_type_store a {
            width: auto;
            margin-right: 13px; }
            .about__buttons_type_store a:last-child {
              margin-top: 0; } }
    .about__buttons_type_privacy {
      margin-top: 35px; }
      .about__buttons_type_privacy .button {
        width: 100%;
        max-width: 320px;
        margin-right: 50px; }
        .about__buttons_type_privacy .button:last-child {
          margin-right: 0;
          margin-top: 15px; }
        @media screen and (min-width: 31.25em) {
          .about__buttons_type_privacy .button {
            width: auto;
            margin-right: 30px; }
            .about__buttons_type_privacy .button:last-child {
              margin: 0; } }
      @media print, screen and (min-width: 62.5em) {
        .about__buttons_type_privacy {
          margin-top: 40px; }
          .about__buttons_type_privacy .button {
            width: auto;
            margin-right: 50px; }
            .about__buttons_type_privacy .button:last-child {
              margin-top: 0; } }

.press {
  padding-top: 40px; }
  .press__container {
    padding: 0 20px; }
    @media print, screen and (min-width: 62.5em) {
      .press__container {
        padding: 0 133px; } }
  .press__column {
    margin-top: 20px; }
    @media print, screen and (min-width: 48em) {
      .press__column {
        display: flex;
        width: 52.2%;
        justify-content: flex-end;
        text-align: right; } }
    @media print, screen and (min-width: 62.5em) {
      .press__column {
        margin-top: 50px; } }
  .press__blockquote {
    height: 0;
    opacity: 0;
    transition: opacity 0.25s;
    visibility: hidden;
    max-width: 526px;
    color: #101010;
    font-family: 'MalagaOT-RegItalic', serif;
    font-size: 24px;
    line-height: 1.3;
    text-align: left; }
  .press__author {
    display: block;
    margin-top: 8px;
    color: #727272;
    font-size: 16px; }
  .press__label {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-top: 11px;
    background: #b7b7b7;
    transition: all 0.25s;
    cursor: pointer; }
    .press__label:first-child {
      margin-top: 0; }
  .press__dots {
    position: absolute;
    top: 11px;
    left: 1px; }
  .press__slider {
    padding-left: 39px;
    overflow: hidden;
    position: relative; }
    .press__slider input[type=radio] {
      height: 0;
      width: 0;
      visibility: hidden;
      position: absolute; }
      .press__slider input[type=radio]:checked + .press__blockquote {
        height: auto;
        opacity: 1;
        min-height: 152px;
        visibility: visible;
        transition: opacity 0.25s; }
    .press__slider #press-bst:checked ~ .press__dots label[for=press-bst],
    .press__slider #press-ny:checked ~ .press__dots label[for=press-ny],
    .press__slider #press-grd:checked ~ .press__dots label[for=press-grd] {
      transform: scale(1.2);
      transform-origin: 50% 50%;
      background: #000;
      transition: all 0.25s; }
  .press__list {
    display: flex;
    padding: 0 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none; }
    .press__list li {
      display: inline-block;
      width: 50%;
      margin-bottom: 20px;
      vertical-align: middle;
      text-align: center; }
      .press__list li a {
        display: block;
        border: 0; }
      .press__list li img {
        max-width: 100%; }
    @media print, screen and (min-width: 48em) {
      .press__list {
        flex-wrap: nowrap; } }
    @media screen and (min-width: 91.25em) {
      .press__list {
        width: 55.3%;
        margin: 6px 0 0 -43px;
        justify-content: space-between; }
        .press__list li {
          width: auto;
          text-align: left; } }

.partners {
  padding-bottom: 20px; }
  @media print, screen and (min-width: 62.5em) {
    .partners {
      padding-bottom: 120px; } }
  .partners__container {
    padding: 17px 20px 0;
    position: relative; }
    @media print, screen and (min-width: 62.5em) {
      .partners__container {
        padding: 17px 30px 0; } }
    @media screen and (min-width: 66.25em) {
      .partners__container {
        max-width: 1000px;
        padding: 17px 0 0;
        margin: 0 auto; } }
    @media screen and (min-width: 91.25em) {
      .partners__container {
        padding: 17px 0 0; }
        .partners__container:before {
          width: 1px;
          height: 443px;
          position: absolute;
          top: 0;
          right: 0;
          background: #b9b9b9;
          content: ''; }
        .partners__container:after {
          height: 1px;
          width: 1500px;
          position: absolute;
          top: 0;
          right: 0;
          background: #b9b9b9;
          content: ''; } }
  .partners__content {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    text-align: right; }
  .partners__about {
    display: block;
    width: 100%;
    color: #7a7a7a;
    font-size: 14px;
    text-align: center; }
    @media print, screen and (min-width: 62.5em) {
      .partners__about {
        padding-right: 23px;
        text-align: right; } }
  .partners__list {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center; }
    .partners__list li {
      display: inline-block;
      width: 134px;
      margin-top: 15px;
      vertical-align: middle; }
      .partners__list li a {
        display: block;
        border: 0;
        text-align: center; }
      .partners__list li img {
        max-width: 100%; }
    @media print, screen and (min-width: 62.5em) {
      .partners__list {
        margin: 22px -19px 0 0; }
        .partners__list li {
          margin-top: 0; } }

.links {
  margin-top: 22px; }
  .header__column .links {
    display: none; }
    @media print, screen and (min-width: 62.5em) {
      .header__column .links {
        display: block; } }
  .header__column_type_dropdown .links {
    display: block; }
    @media print, screen and (min-width: 62.5em) {
      .header__column_type_dropdown .links {
        display: none; } }
  .links__list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0; }
    .links__list li {
      display: inline-block;
      margin-right: 26px;
      position: relative;
      color: #959595;
      font-size: 14px; }
      .footer .links__list li {
        margin-right: 30px;
        font-size: 12px; }
      .links__list li a {
        display: inline;
        border-bottom: 1px solid transparent;
        color: #959595;
        transition: all 0.25s;
        line-height: 1;
        cursor: pointer;
        display: inline-block;
        color: #959595;
        line-height: 1.45; }
        .links__list li a:focus {
          border-color: #959595;
          color: #959595; }
        .links__list li a:active {
          border-color: rgba(149, 149, 149, 0.5);
          color: #959595;
          transition: color 0.25s; }
        @media print, screen and (min-width: 62.5em) {
          .links__list li a:hover {
            border-color: rgba(149, 149, 149, 0.5);
            color: #959595;
            transition: all 0.25s;
            text-decoration: none; } }
        .footer .links__list li a {
          display: inline-block;
          border-bottom: 1px solid rgba(149, 149, 149, 0.5);
          color: #959595;
          transition: all 0.25s;
          line-height: 1;
          cursor: pointer;
          line-height: 1; }
          .footer .links__list li a:focus {
            border-color: #959595;
            color: #959595; }
          .footer .links__list li a:active {
            border-color: transparent;
            color: #959595;
            transition: color 0.25s; }
          @media print, screen and (min-width: 62.5em) {
            .footer .links__list li a:hover {
              border-color: transparent;
              color: #959595;
              transition: all 0.25s;
              text-decoration: none; } }
      .links__list li.current span {
        border-bottom: 1px solid rgba(149, 149, 149, 0.5);
        font-weight: 700;
        line-height: 1.45; }
      .links__list li:after {
        position: absolute;
        top: 0;
        right: -16px;
        content: '/'; }
        .footer .links__list li:after {
          top: 1px;
          right: -18px; }
      .links__list li:last-child {
        margin-right: 0; }
        .links__list li:last-child:after {
          display: none; }
